build/*.js
src/assets
src/components/tki-barcode
src/js_sdk
src/utils/jwx
src/components/feng-parse
src/components/tki-qrcode
src/components/tki-barcode
public
dist
src/utils/big.min.js
src/utils/wxqrcode.js
